/* Current theme
color: #2C3740;  // dark greyish blue - text color for h1, footer, submit, print
color: #297350;  // traditional green  - background color for divs with text : nav ul, main, why
color: #F2B6A0;  // skin pink - text color : nav li a, main 
                  // background of footer
color: #F2F2F2;  // white - Hover color
color: #fffdd0 ; // very pale yellow - background color body
*/

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#297350; /* traditional green */
  border-radius: 10px;
}  

nav li {
  float: left;
}

nav li a {
  display: block;
  color: #F2B6A0; /* skin pink  */
  text-align: center;
  /* padding: 14px 16px; */
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 22px;
  padding-bottom: 14px;
  text-decoration: none;
}

nav li a:hover {
  color:  #F2F2F2;  /* white */
}

#logo img {
  height: 60px;
  display: block;
  margin-left: 15px;
  margin-right: 15px;
}

body {
  background-color: #fffdd0 ; /*#fffff0*/
  font-family: "Aphont", "BebasNeue-Regular", Arial, Helvetica, sans-serif;
}

main {
  width: 1000px;
  margin-left:auto;
  margin-right: auto;
  background-color:  #297350; /* traditional green */
  color: #F2B6A0; /* skin pink */
  font-family: "Aphont", "BebasNeue-Regular", Arial, Helvetica, sans-serif;
  margin-bottom: 50px; /*for the footer not to cover content */
  /*content becomes centered if page is wider than necessary */
}

h1 {
  color: #2C3740; /* dark greyish blue */
  text-align: center;
  margin-bottom: 0px;
}

#why { /* Div with instructions for the tables */
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: #297350;
  border-radius: 10px;
  width: 1100px;
  color: #F2B6A0;
}

form {
  text-align: center;
}

.text_box { /* user input boxes for number of rows/cols and colors */
  border-radius: 5px;
  text-align: center;
  width: 20px;
  background-color: #F2B6A0;
}

.num_of_cells { /* Error message for invalid number of cells */
  background-color: red;
  color: black;
  border: 2px double black;
  padding: 5px;
  width: 375px;
  margin-bottom: 10px;
  margin-top: 2px;
  font-size: large;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.unique_colors { /* Error message for invalid number of unique colors */
  background-color: red;
  color: black;
  border: 2px double black;
  padding: 5px;
  width: 500px;
  margin-bottom: 10px;
  margin-top: 2px;
  font-size: large;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#submit { /* design for form submit button */
  border-radius: 5px;
  background-color: #F2B6A0;
  color:#2c3740;
  margin-top: 2px;
}
 
#table1 {
  /*Separate table1 from submit button */
  margin-top: 15px; 
}

select { /* dropdown selectors for colors */
  background-color: #F2B6A0;
  border-radius: 10px;
}

/*
input[type="radio"]{
  background-color: black;

}
*/

#tableTwo {
  text-align: center;
}

#print { /* design for print button */
  border-radius: 5px;
  background-color: #F2B6A0;
  color:#2c3740;
  margin-top: 2px;
  display: block;
  margin-left: auto;
  margin-right:auto;
 
}

footer {
  position: fixed;
  /* padding-top: 2px; */
  left: 0;
  bottom: 0;
  margin-top: 10px;
  width: 100%;
  height: 50px; /*Needs to match margin-bottom in main */
  color: #2C3740; /* dark greyish blue */ 
  text-align: center;
  background-color:#F2B6A0; /* skin pink - text color */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}